.imageWrapper {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    width: 75%;
}

.image {
    border-radius: 100%;
    width: auto;
}

.textWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: #F3B7B6;
        height: 100%;
        margin: 0 2.5vw 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 3rem;
        line-height: 7rem;
        font-family: Noto Sans, sans-serif;

        // span {
        //     margin: 20px 0 0 0;
        // }
    }
}

.textContainer {
    margin-right: 5vw;
    display: flex;

    p {
        margin: 0;
        color: #639F83;
        line-height: 1.5rem;
        font-size: 1.1rem;
        font-family: Roboto Mono, monospace;
        font-weight: 400;
        word-spacing: -3px;

        strong {
            color: #e1a677;
        }

        #soundcloud {
            text-decoration: none;
            color: #e1a677;
            font-weight: 700;
        }

        #javascript {
            color: #F1DB4F;
        }

        #ruby {
            color: #CC0000;
        }
    }
}

#resume {
    color: #988F8F;

    a {
        text-decoration: none;
        color: #e1a677;
    }
}

@media only screen and (max-width: 1024px) {
    .imageWrapper {
        height: 100%;
    }

    .imageContainer {
        width: 85%;
    }

    .textWrapper {

        h1 {
            font-size: 3rem;
            line-height: 7rem;
        }
    }
}

@media only screen and (max-width: 680px) {
    .imageWrapper {
        height: 30vh;
    }

    .imageContainer {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 4vh;

        img {
            margin: 0;
        }
    }

    .image {
        width: 30vw;
    }

    .textWrapper {

        h1 {
            font-size: 2.7rem;
            line-height: 6rem;
            margin-left: 2.5vw;
        }
    }
}

@media only screen and (max-width: 420px) {
    .imageWrapper {
        height: 25vh;
    }

    .imageContainer {
        margin: 0;
    }

    .image {
        width: 37vw;
    }
}
