.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 10vw 10vh 10vw;
    color: white;
    font-family: Roboto Mono, monospace;
}

.projectWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cardWrapper {
    margin: 5vh 0;
}

.card1 {
    width: 20ch;
    height: 20ch;
    background: grey;
    border-radius: 5px;
    background-image: url(../images/UrdanetaAndres.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid white;
  }

  .card2 {
    width: 20ch;
    height: 20ch;
    background: grey;
    border-radius: 5px;
    background-image: url(../images/UrdanetaAndres.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid white;
  }
  
  .card1:hover, .card2:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }