.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 10vw 10vh 10vw;
    color: white;
    font-family: Roboto Mono, monospace;
}

.buttonContainer {
    width: 80%;
    margin-bottom: 5vh;
}

.nameResumeHeader {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    
    h1 {
        font-family: Roboto Mono, monospace;
        color: #F8B9B9;
    }
}

.markdownWrapper {
    width: 80%;
    font-family: Roboto Mono, monospace;
}

.markdown {

    h2 {
        margin-top: 4rem;
        color: #E5C086;
        font-family: Roboto Mono, monospace;
    }

    p:nth-child(1){
        color: #8AC2BF;
    }

    p:nth-child(2) {
        color: #809CBA;
    }

    p, ul, ol {
        color: #639D7B;
    }

    h3 {
        color: #F0AD7A;
        font-family: Roboto Mono, monospace;
    }

    h4 {
        color: #a09797;
        font-family: Roboto Mono, monospace;
    }
}
