.header {
   font-family: Noto Sans, sans-serif;
   font-weight: 700;
   background: #0F1623;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   width: 10vw;
   height: 90vh;

   nav {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
         height: 65vh;
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;

         a {
            margin: 0;
            display: flex;
            flex-direction: column;

            span {
               display: flex;
               justify-content: center;
               font-size: 1.8rem;
            }
         }
      }
   }
}

.title {
   color: #333;
   font-size: 3rem;
   text-decoration: none;
}

.nav-item {
   color: #a09797;
   font-size: .9rem;
   margin-right: 1.3rem;
   text-decoration: none;
}

.nav-item:hover {
   color: #8EA0B1;
}

.active-nav-item {
   color: #8EA0B2;
}

@media only screen and (max-width: 1024px) {
   .header {
      top: 80vh;
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 10vh;

      nav {
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;

         div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            a {
               font-size: .8rem;
               
               span {
                  font-size: 1.7rem;
               }
            }
         }
      }
   }
}

@media only screen and (max-width: 680px) {
   .header {
      position: fixed;
      top: 90vh;
   }
}

@media only screen and (max-width: 320px) and (max-height: 568px) {
   .header {
      z-index: 1;
   }
}